<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main class="container">
      <%- include('../partials/title'); %>
      <p>
        <%- locals.fullName %>, вы изменили ваш E-mail в настройках личного кабинета на <%- locals.email %>.
      </p>
      <p>
        Если что-то не так, вы всегда можете изменить личную информацию в настройках.
      <p>
        Для подтверждения нового адреса электронной почты нажмите на кнопку:
      </p>
      <%- include('../partials/link-button'); %>
    </main>

    <%- include('../partials/link-button-footer'); %>

  </body>
</html>

<style>
	main p {
		font-weight: 500;
		color: black;
		font-size: 17px;
	}
	p:not(:last-child) {
		margin-bottom: 30px;
	}
</style>
