<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main class="container">
      <%- include('../partials/title'); %>
      <p>
        Здравствуйте, <%= locals.fullName %>! Чтобы обновить пароль для доступа
        в Личный кабинет, нажмите на кнопку и укажите новый пароль. Обращаем
        Ваше внимание, что данная смена пароля действительна 24 часа.
      </p>
      <span>
        Заявка была отправлена с IP-адреса <%= locals.ip %>, <%= locals.browser
        %>, <%= locals.date %> в <%= locals.time %>.
      </span>
      <%- include('../partials/link-button'); %>
    </main>

    <footer>
      Если у Вас не работает кнопка “Восстановить пароль”, скопируйте данную
      ссылку и откройте в браузере: <a href="<%- locals.linkButtonLink %>">
				<%- locals.linkButtonLink %>
    </footer>
  </body>
</html>

<style>
  .container {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 20px;
  }
	main > p {
		font-weight: 500;
		color: black;
		font-size: 17px;
	}
	main > p + span {
		font-size: 14px;
		font-weight: 400;
	}
	footer {
		font-size: 14px;
		font-weight: 400;
		color: #042462
	}
	footer a {
		color: #4579DE
	}
</style>
